.paintings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }


  .painting {
 
      flex-basis: 20%;
      margin: 1em;
      padding: 1em;
      border: 1px solid black;
      color:white;
      width:60vw;
      margin:0 auto;
      margin-top:5vh;
      background-color: rgba(236, 236, 236, 0.945);
      -webkit-box-shadow: 5px 5px 15px 5px #2b2b2b3d; 
      box-shadow: 5px 5px 15px 5px #2b2b2b38; 
      display: flex; 
flex-direction: column; 
justify-content: space-around; 
align-items: center;

margin: 0 5px;
  }
  .paintingContainer{
      margin: 2em;
  }
  .painting__location, .painting__owner{
    color:black;
  }
  .painting__title, .painting__medium{
    text-decoration-style: none !important;
    text-decoration: none !important;
    color:rgb(3, 3, 3) !important;
  }
  /* .painting__image{
height:40px;
width:40px;
background-color: rgba(0, 0, 255, 0.274);
  } */